absl-py==2.1.0
adjustText==0.7.3
anyio==3.7.1
argcomplete==3.1.6
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
ase==3.22.1
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.15.0
backcall==0.2.0
bar-chart-race==0.1.0
beautifulsoup4==4.12.3
biopython==1.78
bleach==6.1.0
cachetools==5.3.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.6
comm==0.2.2
cycler==0.10.0
debugpy==1.8.1
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.4
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.19.1
ffmpeg==1.4
fqdn==1.5.1
google-auth==2.29.0
google-auth-oauthlib==1.0.0
googledrivedownloader==0.4
grpcio==1.63.0
h11==0.14.0
h5py==2.10.0
httpcore==1.0.5
httpx==0.27.0
idna==2.9
igraph==0.11.8
imageio==2.8.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel==5.5.4
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.2
isodate==0.6.0
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
joblib==0.14.1
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server==1.8.0
jupyter_core==5.7.2
jupyter_server_terminals==0.5.3
jupyterlab==2.3.2
jupyterlab-server==1.2.0
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
kiwisolver==1.2.0
leidenalg==0.10.2
llvmlite==0.32.0
magic-impute==3.0.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.2.1
matplotlib-inline==0.1.7
mdurl==0.1.2
metis==0.2a5
mistune==3.0.2
nbclassic==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==2.4
notebook==6.5.7
notebook_shim==0.2.4
numba==0.49.0
numpy==1.18.1
oauthlib==3.2.2
olefile==0.46
overrides==7.7.0
packaging==24.0
pandas==1.0.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==8.3.2
pipx==1.2.1
pkgutil_resolve_name==1.3.10
platformdirs==4.2.1
pluggy==1.5.0
plyfile==0.7.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==5.26.1
psutil==5.7.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.20
Pygments==2.17.2
pyparsing==2.4.7
pyro-api==0.1.2
pytest==6.2.5
python-dateutil==2.8.1
python-json-logger==2.0.7
python-louvain==0.16
pytz==2019.3
PyWavelets==1.1.1
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
rdflib==5.0.0
referencing==0.35.1
requests==2.26.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scikit-misc==0.1.4
scipy==1.4.1
seaborn==0.9.1
Send2Trash==1.8.3
shellingham==1.5.4
six==1.14.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
terminado==0.18.1
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
torch==1.9.1+cu102
torch-cluster @ https://pytorch-geometric.com/whl/torch-1.9.0%2Bcu102/torch_cluster-1.5.9-cp38-cp38-linux_x86_64.whl#sha256=43eb039afaf02dbab2eaf708e232a5d81021df0ba3a3d6902d0ab7d20a1a6823
torch-geometric==1.7.2
torch-scatter @ https://pytorch-geometric.com/whl/torch-1.9.0%2Bcu102/torch_scatter-2.0.8-cp38-cp38-linux_x86_64.whl#sha256=d66fad96c23881b11d174344f864bbc13633c573d0e4abe87f728bfc56587c7f
torch-sparse @ https://pytorch-geometric.com/whl/torch-1.9.0%2Bcu102/torch_sparse-0.6.11-cp38-cp38-linux_x86_64.whl#sha256=c0b6fc95a6384fe030d95176f352d84909ca8e66a01e806cb0ded84464314bec
torchaudio==0.9.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typer==0.3.2
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
uri-template==1.3.0
urllib3==1.26.5
userpath==1.9.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.10
xlrd==1.2.0
zipp==3.18.2
